{% extends 'base.html' %}
{% load static %}

{%block title %}
    <title>DSF Dashboard</title>
{% endblock title %}

{% block content %}

    <div class="container">
        <div class="row">
            <h2>What's about, {{ user.username }}?</h2>
            <form action="" method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit", value="Submit">
            </form>
        </div>

        <div class="row">
            {% for post in posts %}
            <div class="card m-2">
                <div class="card-body">
                    {% if post.image %}
                        <img class="img-thumbnails" src="{{ post.image.url }}" style="max-width: 200px;">
                    {% endif %}
                    <p class="card-text">{{ post.text }}</p>
                    <p class="card-text"><small class="text-muted">{{ post.created_at }} by <a href="{% url 'social:profile_detail' post.user.id %}"> {{ post.user }} </a></small></p>
                </div>
            </div>
            {% endfor %}
        </div>       
    </div>

{% endblock content %}
    