{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <h2>Welcome to Django Social Feed</h2>
            <h3>It's happening now</h3>
            <p>
                This is a social media template entirely made with Django.<br>
                Template has been made by <a title="Github profile" href="https://github.com/carloocchiena" target="_blank">Carlo Occhiena</a>.<br>
                Do you need help? (this is not a real email, just for template purpose!)<br>
                <a title="Send an email" href="mailto:helpmail@mail.com">Contact me</a><br>
            </p>
    </div>    
</div>

{% endblock content %}
