{% extends 'base.html' %}
{% load static %}

{%block title %}
    <title>{{ profile }}'s page</title>
{% endblock title %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>{{ profile }}</h2>
                <img class="rounded-circle m-1" src="{{ profile.avatar.url }}" style="max-width: 2em;">
            </div>
            <div class="col-md-8">
                <p>{{ profile.bio }}</p>
                <!-- <p>{{ profile.user.username }}</p> -->
                <p>{{ profile.followed_by.count }} followers</p>
                <p>{{ profile.following.count }} following</p>
            </div>
    </div>



{% endblock content %}
    

