{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Here's all the profiles</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <h2>Here's all the profiles</h2>
        <ul class = "list-unstyled">
            {% for profile in object_list %}
                <li>
                    <!-- probably ref to https://stackoverflow.com/questions/36373977/align-text-next-to-image-using-bootstrap -->
                    {% if profile.avater %}
                        <img class="rounded-circle m-1" src="{{ profile.avatar.url }}" style="max-width: 2em;">
                    {% endif %}
                    <div d-flex>
                        <a href="{% url 'social:profile_detail' profile.id %}"> {{ profile.user.username }} </a>
                        <p class="mr-4"><small> {{ profile.followed_by.count }} followers </small></p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
