{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Update {{ profile.user.username }}'s profile</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="col-4">
            <h2>Update your profile, {{ profile.user.username }}</h2>
            <form action="" method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                <div class="form-group">
                    {% for item in form %}
                        <div class="form-group mx-auto mb-2">
                            {{ item.label }}</br>
                            {{ item }}
                        </div>
                    {% endfor %}
                </div>

                <div class="error-message">
                    {% if form.non_field_errors %} 
                    
                        {% for error in form.non_field_errors %}
                            <p style="font-size: 13px;">
                                {{ error|escape }}
                            </p>
                        {% endfor %} 
                    
                    {% endif %}
                </div>

                <input type="submit" class="btn btn-info text-light", value="Submit">
                <br><br>
                <p>Avatar preview:</p>
                    <img id="imageBox" src="#" alt="" style="max-width: 200px;"/>
            </form>
        </div>
    </div>
{% endblock content %}
