{% extends 'base.html' %}
{% load static %}

{%block title %}
    <title>{{ profile }}'s page</title>
{% endblock title %}

{% block content %}

    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <h2>{{ profile }}</h2>
                {% if profile.avatar %}
                    <img class="rounded-circle m-1" src="{{ profile.avatar.url }}" style="max-width: 8em;">
                {% else %}
                    <img class="rounded-circle m-1" src="{% static '/social/avatars/default_avatar.png' %}" style="max-width: 8em;">
                {% endif %}
            </div>

            <div class="col-md-8">
                <p>{{ profile.bio }}</p>
                <!-- <p>{{ profile.user.username }}</p> -->
                <p>{{ profile.followed_by.count }} followers</p>
                <p>{{ profile.follows.count }} following</p>
                <p><i class='fas fa-map-marker-alt'>&nbsp;</i>{{ profile.location }}</p>  

                {% if profile.user == user %}
                    <a href="/profile_update/{{ profile.id }}" class="btn text-light btn-info">Edit Profile</a>
                {% else %}
                    {% if profile.is_following %}
                        <a href="{{ profile.get_unfollow_url }}" class="btn btn-danger">Unfollow</a>
                    {% else %}
                        <a href="{{ profile.get_follow_url }}" class="btn text-light btn-info">Follow</a>
                    {% endif %}
                {% endif %}

            </div>
        </div>

        {% for post in profile.user.posts.all %}
        <div class="card m-3">
            <div class="card-body">
                {% if post.image %}
                    <img class="img-thumbnails" src="{{ post.image.url }}" style="max-width: 200px;">
                {% endif %}
                <p class="card-text">{{ post.text }}</p>
                <p class="card-text"><small class="text-muted">{{ post.created_at }}</small></p>
            </div>
        </div>
        {% endfor %}

    </div>

{% endblock content %}
    

