{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Update {{ profile.username }}'s profile</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <h2>Update your profile</h2>
        <form action="" method="post" enctype='multipart/form-data'>
            <!-- impaginazione tutta da rivedere ma la logica c'è, va linkato a ciascun profilo'-->
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit", value="Submit">
        </form>
    </div>
{% endblock content %}
